.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: 18px;
}

.dialogItems {
    padding: 10px;
}

.dialog {

}

.dialogItems .active {
    color: blue;
}

.messages {
    padding: 10px;
}

.messagebox {
position: fixed;
display: block;
margin-top: 15px;
bottom: 0;
margin-bottom: 100px;
width: 100%;
}
.messagebox button{
    position: fixed;
    display: block;
    margin-top: 15px;
    bottom: 0;
    margin-bottom: 50px;
}
.messagebox textarea{
    width: 50%;
}